.widget.gallery .table_rss_gallery_class {
	width: 100%;
}
.widget.gallery .table_rss_gallery_class td {
	padding: 5px 0;
	text-align: center;
}
.widget.gallery .table_rss_gallery_class a {
	border: 1px solid #000;
	display: block;
	background-image: url(img/wait.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
	width: 75px;
	height: 75px;
	overflow: hidden;
}
.widget.gallery .table_rss_gallery_class a:hover {
	border-color: #FF6600;
}