.widget-album .figure {
	text-align: center;
	position: relative;
	border: 5px solid #FFF;
	margin: 5px;
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.widget-album .figcaption {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.widget-album .figcaption > span {
	position: absolute;
	color: #FFF;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -1em;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	font-size: 1.2em;
}
.widget-album .figure:hover {
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.widget-album .figure:hover .figcaption {
	-moz-opacity: 1;
	filter: alpha(opacity=1);
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
}